/* CSS Fix */
* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

.logo img {
  width: 66px;
  padding: 4px 14px;
}

.linkedin img {
  width: 28px;
  padding: 0px 8px;
  padding-left: 370px;
}

.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

.navbar::before {
  content: '';
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.navbar div {
  font-family: 'Kanit', sans-serif;
  display: flex;
}

.navbar div li {
  list-style: none;
}

.navbar div li a {
  text-decoration: none;
  display: block;
  font-size: 26px;
  padding: 3px 48px;
  color: white;
}

.navbar div li a:hover {
  color: red;
  transform: scale(1.2);
}

/* Home Section */

#home-section {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#home-section::before {
  content: '';
  background: url(/media/other_img/home_bg.png) no-repeat center center/cover;
  position: absolute;
  height: 1030px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

#home-section h3 {
  font-family: 'Kanit', sans-serif;
  padding-top: 30px;
}

#home-section div p {
  font-family: 'Itim', cursive;
  padding: 25px 100px;
}

/* Menu Section */

#menu-section h1 {
  display: block;
  font-size: 30px;
  text-align: center;
  padding: 11px;
  padding-left: 22px;
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color: black;
  border-radius: 12px;
  opacity: 0.7;
  z-index: -1;
}

.menu-slideshow {
  display: flex;
  overflow-x: scroll;
}

.menu-box img {
  border: 4px solid black;
  border-radius: 12px;
  margin: 12px;
  height: 290px;
}

/* Services */

#service_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(211, 30, 30);
  height: 400px;
}

#service_section h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  padding: 11px;
}

.services {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
}

#service_section img {
  height: 150px;
}

.service_box {
  border-radius: 15px;
  box-shadow: 9px 6px 5px;
  background-color: burlywood;
  margin: 8px;
}

/* Delivery Patners Section */

#delivery-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 180px;
  background-color: #9e846b;
}

#delivery-section h1 {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 60px;
  color: black;
  font-family: 'Kanit', sans-serif;
}

.delivery-slide {
  display: flex;
}

.slide img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

/* Contact Us  */

#contact-us {
  color: white;
  display: flex;
  padding: 20px;
  padding-left: 150px;
  background-color: black;
  opacity: 0.8;
}

.contactanddeveloper-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactanddeveloper-info h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.developer-info a {
  color: white;
}

.contact-info .info-block {
  padding-top: 4px;
}


.developer-info {
  font-size: 22px;
  padding-top: 40px;
}

.contact-form {
  width: 320px;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: 'Kanit', sans-serif;
  resize: none;
}

input[type="submit"] {
  background-color: red;
  width: 107%;
  color: white;
  cursor: pointer;
}